%h1.my-tit.row
  .col-md-12
    = t('headers.characteristics.edit')

%ul.pagination
  %li.page-item
    %a.page-link.bc{:href => "/welcome/index"} Главная
  %li.page-item
    %a.page-link.bc{:href => characteristics_path} Характеристики
  %li.page-item
    %a.page-link.active-link{:href => "#"} Редактирование 
= render 'form'
