.container-2.col-md-6.col.xs-12.my_form_style
  %form
    .row
      %h3
        Шаг дискретизации
      -#   = @str
      -#
      -# = form_tag("/add_time", method: "get") do
      -#   = label_tag(:q, "Введите шаг дискретизации:")
      -#   = text_field_tag(:q)
      -#   = submit_tag("Сохранить")
