.table_style
  %table
    %thead
      %tr
        %th Payment
        %th Issue Date
        %th Amount
        %th Period
    %tbody
      %tr
        %td{"data-label" => "Payment"} Payment #1
        %td{"data-label" => "Issue Date"} 02/01/2015
        %td{"data-label" => "Amount"} $2,311
        %td{"data-label" => "Period"} 01/01/2015 - 01/31/2015
      %tr
        %td{"data-label" => "Payment"} Payment #2
        %td{"data-label" => "Issue Date"} 03/01/2015
        %td{"data-label" => "Amount"} $3,211
        %td{"data-label" => "Period"} 02/01/2015 - 02/28/2015
