%h1.my-tit.row
  .col-md-12
    = t('headers.information_systems.edit')

%ul.pagination
  %li.page-item
    %a.page-link.bc{:href => "/welcome/index"} Главная
  %li.page-item
    %a.page-link.bc{:href => information_systems_path}  Информационные системы
  %li.page-item
    %a.page-link.active-link{:href => "#"} Редактирование информационной системы
= render 'form'

-# = link_to 'Показать', @information_system
