// background
$sidebar-a-active-bg-color: #282A3C
//dropdown bg colors
$sidebar-active-dropdown-ul-bg: #922B42
$sidebar-ul-ul-li-background-color: #2C2E3E
$sidebar-dropdown-bg-a: #2C2E3E
// color
//.. Ссылки на боковом меню
$sidebar-ul-li-a: #474B64
$sidebar-icon-color: #70738D
$sidebar-a-active-color: #AC2C44
$sidebar-active-dropdown-ul-color: #white

//dropdown a color
$sidebar-ul-ul-a-color: #2C2E3E
// hover bg

// цвет фона ссылки при наведении
$sidebar-hover-backgroubd-color:  #282A3C

// cover-color

// цвет ссылки при наведении
$sidebar-hover-link-color: #8384A1







// @import bootstrap-sprockets
// БОКОВОЕ МЕНЮ
// -- фон
$sidebar-bg-color: #2C2E3E
// ширина бокового меню
$sidebar-width: 150px
$sidebar-min-width: 150px


//.. название приложения
$sidebar-app-name-bg-color: #2C2E3E
$sidebar-app-name-color: #B9ACD2
$sidebar-app-name-icon-color: #E71372

//                                 НАЗВАНИЕ НАЗВАНИЕ НАЗВАНИЕ НАЗВАНИЕ НАЗВАНИЕЫ
// граница под названием
$sidebar-border-bottom: 1px solid #E9EBEE
// граница, отделяющая боковое меню от основного контента
$sidebar-border-right: 1px solid #2C2E3E
// граница внизу каждого пункта меню внизу
$sidebar-border-bottom-ul-li: 1px solid  #2C2E3E
//размер шрифта
$sidebar-app-name-font-size: 30px




// $sidebar-active-a: white
$sidebar-color: #BCBCBB
// фон ссылки с классом active
// $sidebar-a-active-bg-color: #2C2E3E
// цвет текста на активной ссылке
// $sidebar-a-active-color: #5FBEAA

// $sidebar-a-active-bg-color: #F4F8FB
//dropdown a color
// $sidebar-ul-ul-a-color: #2C2E3E
// //dropdown bg colors
// $sidebar-active-dropdown-ul-bg: #922B42
// $sidebar-active-dropdown-ul-color: #white
// $sidebar-ul-ul-li-background-color: #2C2E3E
// $sidebar-dropdown-bg-a: #2C2E3E

//ВЕРХНЕЕ МЕНЮ
//..фон
// $navbar-bg-color: #FFFFFF
$navbar-bg-color: white
$navbar-btn-bg-color: #FFFFFF
$navbar-btn-color:  #848894
$navbar-ul-li-a-i: #777A93
$navbar-ul-li-a-text: #848894
$nav-right-hover-a: #B9ACD2
$sign-background-color: pink
$sign-color: red
$sidebar-font-size-a-active: 1.3em
$sidebar-font-size-a-active-dropdown: 1.2em
$sidebar-font-size-a-i-active: 1em
$sidebar-font-size: 15px
$sidebar-ul-li-background-color: #2C2E3E
//ОСНОВНОЙ РАЗДЕЛ
$main-bg-color: #EBEFF2
$ul-pagination-li-bg: #C01E2C
$ul-pagination-li-this-bg: #248DAD
$ul-pagination-li-color: white
$ul-pagination-li-this-color: white
$ul-pagination-li-this-parse-bg: #5FBEAA

$sidebar-icin-size: 20px

$color-for-button-new: #2C2E3E
$bg-color-for-button-new: #BEE5EB
$color-for-button-new-hover: #2C2E3E
$bg-color-for-button-new-hover: #BEE5EB






@import bootstrap
@import font-awesome
@import table
@import main
@import navbar
@import sidebar
@import main
@import welcome
