%li
  %a{:href => information_systems_path}
    %i.fa.fa-outdent{:style => "color: #FDC418 " }
    Информационные системы
%li
  %a{:href => characteristics_path}
    %i.fa.fa-list{:style => "color: #F35F62 " }
    Характеристики
%li
  %a{:href => addresses_path}
    %i.fa.fa-address-book{:style => "color: #AB71EE " }
    Адреса
%li
  %a{:href => weights_path}
    %i.fa.fa-address-book{:style => "color: #A2CF37 " }
    Веса
%li
  %a{:href => characteristic_values_path}
    %i.fa.fa-table{:style => "color: #FB6F9E " }
    Характеристика-значение
%li
  %a{:href => part_of_characteristics_path}
    %i.fa.fa-table{:style => "color: #81C868 " }
    Часть характеристики
%li
  %a{:href => people_path}
    %i.fa.fa-users{:style => "color: #34D3EB " }
    Люди
