%li
  %a{:href => information_systems_path}
    %i.fa.fa-table
    Информационные системы
%li
  %a{:href => characteristics_path}
    %i.material-icons
      menu
    Характеристики
%li
  %a{:href => addresses_path}
    %i.material-icons
      menu
    Адреса
%li
  %a{:href => weights_path}
    %i.material-icons
      menu
    Веса
%li
  %a{:href => characteristic_values_path}
    %i.material-icons
      menu
    Характеристика-значение
%li
  %a{:href => part_of_characteristics_path}
    %i.material-icons
      menu
    Часть характеристики
%li
  %a{:href => people_path}
    %i.material-icons
      menu
    Люди
