%li.active
%li.active.with_icon{align: "center"}
  -# .with_icon{align: "center"}

  %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#homeSubmenu2", align: "center"}
    .with_icon{ align: "center"}
      = image_tag 'support.png', alt: "1", class: "icons_png"
    %span.text_under_icon{ align: "center"}
      Генераторы
  %ul#homeSubmenu2.collapse.list-unstyled

    %li
      %a{:href => "http://localhost:3000/emulator/generate1"}
        %i.fa.fa-outdent{:style => "color: #0684C3 " }
        Генератор "Проходная"
    %li
      %a{:href => "http://localhost:3000/emulator/generate2"}
        %i.fa.fa-list{:style => "color: #70AF00 " }
        Генератор "Банк"
