%ul.list-unstyled.components
  %li.active
    %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#homeSubmenu"}
      Все таблицы
    %ul#homeSubmenu.collapse.list-unstyled
      %li
        %a{:href => information_systems_path}
          %i.fa.fa-outdent{:style => "color: #0684C3 " }
          Информационные системы
      %li
        %a{:href => characteristics_path}
          %i.fa.fa-list{:style => "color: #70AF00 " }
          Характеристики
      %li
        %a{:href => addresses_path}
          %i.fa.fa-address-book{:style => "color: #CA4A27 " }
          Адреса
      %li
        %a{:href => characteristic_values_path}
          %i.fa.fa-table{:style => "color: #CD6724 " }
          Характеристика-значение
      %li
        %a{:href => part_of_characteristics_path}
          %i.fa.fa-table{:style => "color: #F55168 " }
          Часть характеристики
      %li
        %a{:href => people_path}
          %i.fa.fa-users{:style => "color: #B348AE " }
          Люди

  %li
    %a{:href => information_systems_path}
      %i.fa.fa-outdent{:style => "color: #FDC418 " }
      Информационные системы
  %li
    %a{:href => characteristics_path}
      %i.fa.fa-list{:style => "color: #F35F62 " }
      Характеристики
  %li
    %a{:href => addresses_path}
      %i.fa.fa-address-book{:style => "color: #AB71EE " }
      Адреса
  %li
    %a{:href => weights_path}
      %i.fa.fa-address-book{:style => "color: #A2CF37 " }
      Веса

    %a{:href => characteristic_values_path}
      %i.fa.fa-table{:style => "color: #FB6F9E " }
      Характеристика-значение
  %li
    %a{:href => part_of_characteristics_path}
      %i.fa.fa-table{:style => "color: #81C868 " }
      Часть характеристики
  %li
    %a{:href => people_path}
      %i.fa.fa-users{:style => "color: #34D3EB " }
      Люди



-#
-#
-#   %a{href:  part_of_characteristics_path }
-#     .img_n{:style => "color: #ADB7BE" }
-#       %i.fa.fa-table
-#     %span
-#       Часть характеристики
-#   %a{href:  "people_path"}
-#     .img_n{:style => "color: #ff4d00" }
-#       %i.fa.fa-users
-#     %span
-#       Люди
-# %a{href:  addresses_path}
-#   .img_n{:style => "color: #1B99CF" }
-#     %i.fa.fa-address-book
-#   %span
-#     Адреса
-# %a{href:  "characteristic_values_path" }
-#   .img_n{:style => "color: #54C76B" }
-#     %i.fa.fa-table
-#   %span
-#     Характеристика-значение
-# %a{href:  part_of_characteristics_path }
-#   .img_n{:style => "color: #ADB7BE" }
-#     %i.fa.fa-table
-#   %span
-#     Часть характеристики
-# %a{href:  people_path}
-#   .img_n{:style => "color: #ff4d00" }
-#     %i.fa.fa-users
-#   %span
-#     Люди
-#
-#     %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#pageSubmenu"}
-#       %i.glyphicon.glyphicon-duplicate
-#       Pages
-#     %ul#pageSubmenu.collapse.list-unstyled
-#       %li
-#         %a{:href => "#"} Page 1
-#       %li
-#         %a{:href => "#"} Page 2
-#       %li
-#         %a{:href => "#"} Page 3
-#   %li
-#     %a{:href => "#"}
-#       %i.glyphicon.glyphicon-link
-#       Portfolio
-#   %li
-#     %a{:href => "#"}
-#       %i.glyphicon.glyphicon-paperclip
-#       FAQ
-#   %li
-#     %a{:href => "#"}
-#       %i.glyphicon.glyphicon-send
-#       Contact

-# %a{:href => "#"} Services
-# %a{:href => "#"} Clients
-# %a{:href => "#"} Contact
-# %a{:href => "#"} Services
-# %a{:href => "#"} Clients
-# %a{:href => "#"} Contact
-# %a{:href => "#"} Services
-# %a{:href => "#"} Clients
-# %a{:href => "#"} Contact
