%ul.list-unstyled.components
  - if !current_user.nil?
    -if current_user.has_role?('admin')
      = render  'application/admin'
    -if current_user.has_role?('operator')
      = render  'application/operator'
    -if current_user.has_role?('user')
      = render  'application/user'
