-# %li.active
-#   %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#homeSubmenu3"}
-#     Управление правами доступа
-#   %ul#homeSubmenu3.collapse.list-unstyled
%li
  %a{:href =>  my_users_path}
    %i.fa.fa-users
    Пользователи
%li
  %a{:href => users_roles_path}
    %i.fa.fa-users
    Пользователи роли
%li
  %a{:href => roles_path}
    %i.fa.fa-users
    Роли
%li.list
  %a
    this
  %ul
    %li
      %a{:href => "#"} HTML
    %li
      %a{:href => "#"} CSS
    %li
      %a{:href => "#"} PHP
    %li
      %a{:href => "#"} MySQL
