%li.active
  %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#homeSubmenu4"}
    Статистика
  %ul#homeSubmenu4.collapse.list-unstyled
    %li
      %a{:href => stat_gra1_path}
        %i.fa.fa-outdent{:style => "color: #0684C3 " }
        В будущем статистика 1
    %li
      %a{:href => stat_gra2_path}
        %i.fa.fa-list{:style => "color: #70AF00 " }
        В будущем статистика 2
